body {
  overflow-x: hidden;!important
  background-color: #212529; !important

}

h1 {
  color: #ffffff;
}

h2 {
  line-height: 2;
  text-transform: uppercase;
}

#content {
  margin: auto;
  width: 50%;
  height: 100%;


}

#booking-box button {
  display: inline-block;
  width: 150px;
  height: 50px;
  background-color: black;
  color: white;
}

.activities {
  width: 100%;

}

.activity-box {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 250px;
  background-color: gray;
  display: flex;
}

.activity-info {
  height: 100%;
  background-color: #000;
  color: white;
}

.activity-info h2 {
  margin: auto;
}

.activity-info p {
  margin: auto;
}

.image-poster {
  max-height: 212px;
  max-width: 246px;
  object-fit: fill;
}

.image-poster img {
  max-height: 212px;
  max-width: 246px;
  object-fit: fill;
}

#timetable {
  width: 100%;
  height: 100%;
  background-color: gray;
}
/*
#times {
  display: inline;
  background-color: green;
  margin: 5px;

}
 */


#book button {
  display: inline-block;
  width: 150px;
  height: 50px;
  background-color: black;
  color: white;
}

#timetable {
  height: 100px;
}

.time-button {
  width: 100px;
  height: 50px;
  display: inline-block;
  border-radius: 8px;
  margin: auto;
}
/*
.time-button:active{
  background-color: blue;
  color: white;
}
*/

#book{
  position:absolute;
  left: 69%;
  margin-bottom: 100px;
}

#book a{
color: white;


}
