body {
  overflow-x: hidden;!important
  background-color: #212529; !important

}

h1 {
  color: #ffffff;
}

h2 {
  line-height: 2;
  text-transform: uppercase;
}

#content {
  margin: auto;
  width: 50%;
  height: 100%;
}

.bview-table {
  margin-top: 10px;
}

th {
  background-color: #5c636a;
}

tr {
  align-content: center;
  text-align: center;
}

tr:nth-child(odd) {
  background-color: #5c636a;
}


.allback-book {
  background-color: #212529;
  height: 100%;
}
#booking-box {
  color: white;
}


.activities {
  width: 100%;

}

.activity-box {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 250px;
  background-color: #5c636a;
  display: flex;
}

.activity-info {
  height: 100%;
  background-color: #000;
  color: white;
}

.activity-info h2 {
  margin: auto;
}

.activity-info p {
  margin: auto;
}

.image-poster {
  max-height: 212px;
  max-width: 246px;
  object-fit: fill;
}

.image-poster img {
  max-height:100%;
  max-width:100%;
  object-fit: fill;
}

#timetable {
  width: 100%;
  height: 100%;
  background-color: gray;
}
/*
#times {
  display: inline;
  background-color: green;
  margin: 5px;

}
 */


#book button {
  display: inline-block;
  width: 150px;
  height: 50px;
  background-color: black;
  color: white;
}

#timetable {
  height: 100px;
}

.time-button {
  width: 100px;
  height: 50px;
  display: inline-block;
  border-radius: 8px;
  margin: auto;
  background-color: #04AA6D;
  opacity: 0.5;
}
/*
.time-button:active{
  background-color: blue;
  color: white;
}
*/

#book{
  position:absolute;
  left: 69%;
  margin-bottom: 100px;
}

#book a{
color: white;
}

.bline-div{
  border: 1px solid #f0f0f0;
  width: 300px;
  position: fixed;
  bottom:50%;
  right:0px;
  margin-right: 50px;

}

table{
  width: 100%;
  color: #f0f0f0;
  border: 1px solid #f0f0f0;
}

th, td{
  text-align: center;
}

.input-search {
  width: 30%;
  height: 30px;
  margin: 5px;
}

.search-button{
  display: inline-block;
  width: 75px;
  height: 30px;
  background-color: black;
  color: white;
  margin: 5px;
}

