@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Rajdhani', sans-serif;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

#body {
  background-color: #212529;
}

#header{
  display: inline-block;
  width: 100%;
  text-align: center;
  position: relative;
  justify-content: center;
}

#navbar{
  text-align: right;
  height: 85px;
  width: 100%;
  color: black;
  background: #212529;
  box-shadow: 5px 4px 14px -6px;
  margin-bottom: 1px;
  opacity: 0.7;
  font-family: 'Rajdhani', sans-serif;
  text-transform: uppercase;

}

#navbar:hover {
  opacity: 1.0;
}

#navbar ul{
  margin-right: 25%;
  display: inline-block;
  margin-top: 25px;
}

#navbar li:first-child{
  padding-right: 450px;
  font-size: 200%;
}
#navbar li{
  font-size: 20px;
  display: inline-block;
  margin-right: 10px;
  color: white;
}

#navbar a{
  color: white;
  text-decoration: none;
}

/* Drop down menu */
.dropbtn {
  background: #212529;
  color: white;
  padding: 16px;
  border: none;
  font-family: 'Rajdhani', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  opacity: 0.5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
}

.dropdown-content a:hover {background-color: #212529;}

.dropdown:hover .dropdown-content {display: block;}

.activities-img {
  width: 100vw;
  height: 50vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

#footer {
  position: sticky;

}

#footerstay {
  position: sticky;
  bottom:0;
  left:0;
  right:0;
  width: 100%;
  background-color: #595555;
}

#footer ul{
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
}
#footer img{
 width: 50px;
  height: 50px;
  margin-right: 10px;
}

#footer a {
  color: white;
}

#footer li:first-child{
  padding-right: 50px;
}

#footer li{
  margin-left: 35px;
  font-size: 20px;
  display: inline-block;
  margin-right: 10px;
  color: white;
}
